:root {
    --calendar-height-ammount: 6;
    --calendar-width-ammount: 7;
    --foreground-color: #272d2d;
    --background-color: #FEFCFB;
    --accent-color: cadetblue;
    --main-panel-height: 40rem;
    --main-panel-width: 40rem;
    --main-panel-border-radius: 2rem;
    --main-panel-outline: 0.45rem solid var(--foreground-color);
    --panel-item-outline: 0.09rem solid var(--foreground-color);
    --hour-height: 4em;
}

body {
    margin: 0;
}

button {
    color: var(--foreground-color);
}
  
button:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}
  
button:active {
    background-color: rgba(135, 225, 255, 0.3);
}



.inactive-button {
    opacity: 0.2;
    cursor: initial;
}
  
.active-button {
    color: cadetblue;
    background-color: rgba(135, 225, 255, 0.3);
    border-color: cadetblue;
    opacity: 0.8;
}

.alternate-month {
    color: rgb(77, 77, 77);
    background-color: rgba(222, 222, 222, 0.8);
}



.App {
    color: var(--foreground-color);
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'calendar event-creation-panel'
        'calendar day-panel';
    justify-items: center;
    align-items: start;
}