.DayPanelEventsContainer {
    width: 85%;
    position: absolute;
    left: 15%;
    display: grid;
    /* grid-template-columns: 5em; */
    grid-auto-columns: 1.5rem;
    grid-template-rows: repeat(calc(42 * 24), var(--hour-height));
    column-gap: 1em;
    pointer-events: none;
}